/* You can add global styles to this file, and also import other style files */
body {
    background-color: #ddd;
}

.card {
    background-color: orange;
    border-radius: 6px;
    padding: 15px;
    height: 200px;
    width: 140px;
    border-color: white;
    border-width: 4px;
    border-style: solid;
    cursor: pointer;
    transition: all 0.7s;
    margin-top: 20px
}

.selected .card {
    margin-top: 0px
}